@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Ubuntu:300,400,500,700&display=swap');

body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 15px;
}
label{
    font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 30px;
}

h2 {
    font-size: 30px;
    line-height: 26px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

.bg-red {
    background: #e61d1d;
}

.bg-dark {
    background: #282828;
}

.text-red {
    color: #e61d1d;
}

.btn-theme {
    background: #e61d1d;
    color: #fff;
    font-weight: 500;

    &:hover {
        color: #fff;
        background: #666;
    }
}


a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.ptb-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.plr-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

.p-10 {
    padding: 5rem !important;
}

.mb-10 {
    margin-bottom: 5rem;
}

.btn {
    border-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-content {
    padding: 5rem 0;
}

header {
    border-bottom: 1px solid #eee;

    nav {
        font-size: 0.85rem;

        &:hover {
            color: #ff0000;
        }
    }

    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: #ff0000;
    }

    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show > .nav-link {
        color: #ff0000;
        padding: 0.25rem;
    }

    .navbar-brand {
        width: 100px;
    }
}

.hb,
.ib {
    position: relative;

    .carousel-caption {
        margin-bottom: 75px;

        p {
            font-size: 16px;
        }

        a.link {
            color: #fff;
            text-transform: uppercase;
            font-size: 13px;
            padding: 10px;
        }
    }



}

.box-shadow {
    //    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    //    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    //    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #ededed;
}

.chef-list-wrap {
    background: #F3F5F9;
    padding: 5rem 0;

    .sidebar {
        padding: 2rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            text-transform: uppercase;
        }
    }

    .chef-list-hold {
        padding: 2rem;

        .chef-list {
            display: block;
            color: #666;

            h3.price {
                color: #bf2026;
                text-align: right;
            }
        }

        .chef-list:after {
            content: "";
            display: block;
            width: 100%;
        }

        .chef-list:hover:after {}
    }

    .card-header {
        a {
            color: #bf2026;
        }

    }
}

/* ==============================================================
   HOW IT WORKS
   ============================================================== */

.howit-bg {
    background: url(../images/howit-bg.png) no-repeat top center;
    background-size: contain;
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;

    @media (max-width: 768px) {
        display: none;
    }
}

.howit-icon-wrap {
    text-align: center;
    margin: 0 0 30px;

    h4 {
        padding: 22px 0;
        margin: 0;
        font-weight: 600;
    }

    p {
        padding: 0 30px;
        line-height: 1.8;
    }
}

.howit-img-block {
//    width: 86px;
//    height: 86px;
//    border: 1px solid #bf2026;
//    background: #fff;
//    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

.howit-svg {
    width: 40px;
    height: 40px;
}

.howit-icon-wrap:hover .howit-img-block {
    background: #bf2026;
}

.howit-icon-wrap:hover .howit-svg path {
    fill: #FFF;
}

.search-bottom-title {
    font-size: 14px;
    color: #7c7c7c;
    margin: 20px 0;

    a {
        color: #7c7c7c;
        text-decoration: underline;
        transition: 0.3s;

        &:hover {
            color: #bf2026;
        }
    }
}


/* ==============================================================
   FOOTER
   ============================================================== */

footer {
    position: relative;
    z-index: 1;
    background: #111111;
}

footer.main-block {
    padding: 100px 0 60px;
}

.location {
    @media (max-width: 992px) {
        text-align: center;
        margin: 0 0 30px;
    }

    i {
        color: #adadad;
        font-size: 22px;
        border: 1px solid #adadad;
        padding: 7px 12px;
        vertical-align: top;
        margin: 2px 12px 0 0;

        @media (max-width: 1300px) {
            margin: 2px 0 0 0;
        }
    }

    p {
        display: inline-block;
        font-size: 13px;
        color: #adadad;

        @media (max-width: 992px) {
            display: block;
            margin: 10px 0 0;
        }
    }
}

.footer-logo_wrap {
    text-align: center;
    margin: 0 auto;
    width: 165px;
}

.social-icons {
    padding: 0;
    margin: 0;
    text-align: right;

    @media (max-width: 992px) {
        text-align: center;
        margin: 30px 0 0;
    }

    li {
        list-style: none;
        display: inline-block;
        margin-left: 12px;
        margin-left: 30px;

        @media (max-width: 992px) {
            margin: 0 15px;
        }

        a {
            color: #adadad;
            font-size: 22px;
            opacity: 0.6;
            transition: 0.3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.copyright {
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #adadad;

    a {
        text-decoration: underline;
        color: #adadad;
        margin: 0 10px;
        transition: 0.3s;

        &:hover {
            color: #484848;
        }
    }
}

/* ==============================================================
   Login
   ============================================================== */

.login-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 100px 20px 20px 20px;

    .logo {
        width: 150px;
        margin: 2rem;
    }



    /* TABS */

    h2.inactive {
        color: #cccccc;
    }

    h2.active {
        color: #0d0d0d;
        border-bottom: 2px solid #bf2026;
    }



    /* FORM TYPOGRAPHY*/

    input[type=button],
    input[type=submit],
    input[type=reset] {
        background-color: #bf2026;
        border: none;
        color: white;
        padding: 15px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    input[type=button]:hover,
    input[type=submit]:hover,
    input[type=reset]:hover {
        background-color: #333;
    }

    input[type=button]:active,
    input[type=submit]:active,
    input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

    input[type=text] {
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 5px;
        width: 85%;
        border: 2px solid #f6f6f6;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -webkit-border-radius: 5px 5px 5px 5px;
        border-radius: 5px 5px 5px 5px;
    }

    input[type=text]:focus {
        background-color: #fff;
        border-bottom: 2px solid #bf2026;
    }

    input[type=text]:placeholder {
        color: #cccccc;
    }

}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


#formFooter {
    a {
        color: #999;
    }
}


/* ==============================================================
   inner pages
   ============================================================== */
.nav-tabs .nav-link {
    color: #333;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff;
    background: #e61d1d;
    border-color: #e61d1d;
}
.owl-nav{
    display: none;
}