@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Ubuntu:300,400,500,700&display=swap");
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif; }

p {
  font-size: 15px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif; }

h1 {
  font-size: 36px;
  line-height: 30px; }

h2 {
  font-size: 30px;
  line-height: 26px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

.bg-red {
  background: #ff0000; }

.bg-dark {
  background: #282828; }

.text-red {
  color: #ff0000; }

.btn-theme {
  background: #ff0000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 13px;
  font-weight: 500;
  padding: 11px 30px; }
  .btn-theme:hover {
    color: #fff;
    background: #282828; }

a {
  position: relative; }
  a .link {
    padding-top: 10px; }
    a .link:before {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: #0883a4;
      transform: scaleX(0); }
    a .link:hover:before {
      transform: scaleX(1); }

.ptb-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.p-10 {
  padding: 5rem !important; }

.mb-10 {
  margin-bottom: 5rem; }

header nav {
  font-size: 0.85rem; }
  header nav:hover {
    color: #ff0000; }
header .navbar-light .navbar-nav .nav-link:focus,
header .navbar-light .navbar-nav .nav-link:hover {
  color: #ff0000; }
header .navbar-light .navbar-nav .active > .nav-link,
header .navbar-light .navbar-nav .nav-link.active,
header .navbar-light .navbar-nav .nav-link.show,
header .navbar-light .navbar-nav .show > .nav-link {
  color: #ff0000;
  padding: 0.25rem; }

.hb {
  position: relative; }
  .hb .carousel-caption {
    text-align: left;
    left: 0;
    right: 0;
    padding-bottom: 50%; }
    .hb .carousel-caption p {
      font-size: 16px; }
    .hb .carousel-caption a.link {
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      padding: 10px; }
  .hb .followus {
    position: absolute;
    bottom: 6rem;
    right: 1rem;
    color: #fff; }
    .hb .followus ul li {
      margin-left: 32px; }
      .hb .followus ul li a {
        color: #fff; }
        .hb .followus ul li a:hover {
          color: #ff0000; }
    .hb .followus ul span {
      transform: rotate(-90deg);
      display: inline-block;
      font-size: 12px;
      margin: 40px 0 0 0; }
  .hb .map-relative {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; }

.skillgap-bg {
  background-image: url(../img/skills-gap.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 50%; }

.h-red-testi {
  padding: 9rem 10rem;
  text-align: justify;
  color: #fff;
  margin-right: -60px;
  position: relative;
  z-index: 1; }

.h-dark-testi {
  padding: 9rem 10rem 10.6rem 12rem;
  text-align: justify;
  color: #fff;
  position: absolute;
  right: 0; }

.testi-bg {
  background-image: url(../img/testi-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 6rem 0;
  margin-top: 5.8rem; }
  .testi-bg .carousel-indicators {
    position: relative; }
    .testi-bg .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      opacity: 1; }
    .testi-bg .carousel-indicators .active {
      background-color: #ff0000; }

.people a {
  color: #282828; }
  .people a:hover {
    text-decoration: none;
    opacity: 0.9;
    transition: all 0.3s ease-in-out; }
    .people a:hover small {
      color: #ff0000; }

.approch-bg {
  background-image: url(../img/approch-bg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  color: #fff;
  position: relative; }
  .approch-bg .enskill {
    position: absolute;
    right: 0;
    width: 50%;
    top: -80px;
    padding: 6rem 10rem;
    text-align: justify; }

.mentoring {
  text-align: justify; }
  .mentoring ul li {
    background-image: url(../img/_ionicons_svg_md-checkmark-circle-outline.svg);
    padding-left: 2rem;
    background-repeat: no-repeat;
    background-size: 24px;
    margin-bottom: 24px; }

.accept-reg {
  background: #000;
  color: #fff;
  border-bottom: 10px solid #ff0000;
  text-align: center;
  text-transform: uppercase;
  padding: 3rem; }

.blg {
  transition: all 0.5s ease-in-out; }
  .blg .blg-date {
    color: #ff0000;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500; }
  .blg .blg-img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 255px;
    overflow: hidden; }
  .blg a.link {
    color: #ff0000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500; }
  .blg:hover .blg-img {
    transition: all 0.5s ease-in-out;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }

footer {
  background: #000;
  color: #fff; }
  footer .subscribe {
    background: #ff0000;
    padding: 4rem;
    position: relative;
    top: -80px; }
    footer .subscribe .form-control {
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #fff;
      color: #fff;
      padding-left: 0;
      padding-right: 0; }
    footer .subscribe ::placeholder {
      color: #fff; }
    footer .subscribe .form-control:focus {
      box-shadow: none; }
    footer .subscribe a {
      position: absolute;
      top: 10px;
      right: 15px;
      color: #fff;
      font-weight: 500; }
      footer .subscribe a:hover {
        text-decoration: none; }
  footer .quicklink a {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease-in-out; }
    footer .quicklink a:hover {
      color: #ff0000; }
  footer .copyright {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.35);
    font-size: 11px; }
    footer .copyright a {
      color: rgba(255, 255, 255, 0.35);
      text-decoration: none; }
      footer .copyright a:hover {
        color: red; }

.about-monials {
  padding: 5rem;
  color: #fff;
  position: relative;
  top: -25%;
  background: #ff0000; }
  .about-monials .carousel-indicators {
    position: relative;
    bottom: -45px; }
    .about-monials .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      opacity: 1; }
    .about-monials .carousel-indicators .active {
      background-color: #282828; }

.enskill {
  padding: 0 0 5rem 0;
  position: relative; }

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #282828;
  padding-left: 0;
  padding-right: 0; }

.contact-form {
  padding-bottom: 8rem !important; }

/*# sourceMappingURL=style.css.map */
